.outfit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #fff6e9;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  margin: 10px;
}

#img-out {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgba(196, 196, 196, 0.8);
  justify-content: center;
  align-items: center;
}

#img-save {
  display: flex;
  background-color: #d2e7ff;
  height: 5%;
  font-weight: 550;
  align-items: center;
  justify-content: flex-end;
}

#img-save a {
  text-decoration: none;
  color: black;
}

#img-desc {
  height: 20%;
  background-color: rgba(196, 196, 196, 0.8);
  color: #1b1b1b;
}
#img-desc h4,
p {
  padding: 5px;
}

#ins {
  display: flex;
  justify-content: center;
  width: 100%;
}

body h2 {
  padding: 10px;
}
