.outfit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #051622;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  margin: 10px;
}

#img-out {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgba(6, 30, 50, 1);
  justify-content: center;
  align-items: center;
}

#img-save {
  display: flex;
  background-color: #1ba098;
  height: 5%;
  font-weight: 550;
  align-items: center;
  justify-content: flex-end;
}

#img-save a {
  text-decoration: none;
  color: #051622;
}

#img-desc {
  height: 20%;
  background-color: rgba(6, 30, 50, 1);
  color: #deb992;
}
#img-desc h4,
p {
  padding: 5px;
}

#ins {
  display: flex;
  justify-content: center;
  width: 100%;
}

body h2 {
  padding: 10px;
}
