.character-viewer,
canvas {
  width: 100%;
  height: 80%;
  cursor: pointer;
}

.btm-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}

#go-back-btn {
  display: flex;
  flex-direction: row;
  width: 20%;
}

#go-back-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #1b1b1b;
}

#go-back-btn a img {
  width: 50px;
}
