.character-viewer,
canvas {
  width: 100%;
  height: 80%;
  cursor: pointer;
}

.btm-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 10%;
  margin: auto;
  z-index: 0;
}

#go-back-btn {
  display: flex;
  flex-direction: row;
  width: 20%;
  align-items: center;
  justify-content: center;
}

#go-back-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #deb992;
}

#go-back-btn a:hover {
  color: #1ba098;
}

#color-selector-dropdown {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tShirt-dropdown,
.pants-dropdown,
.shoes-dropdown {
  position: relative;
  color: #051622;
  width: 30%;
}

.tShirt-dropdown ul,
.pants-dropdown ul,
.shoes-dropdown ul {
  position: absolute;
  bottom: 25px;
  background-color: #deb992;
  color: #051622;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.tShirt-dropdown p,
.pants-dropdown p,
.shoes-dropdown p {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.tShirt-dropdown p:hover,
.pants-dropdown p:hover,
.shoes-dropdown p:hover {
  background-color: #1ba098;
  cursor: pointer;
}

#color-selector-dropdown button {
  background-color: #deb992;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  color: #051622;
}

#color-selector-dropdown button:hover {
  background-color: #1ba098;
}

.tShirt-dropdown button:focus + ul,
.pants-dropdown button:focus + ul,
.shoes-dropdown button:focus + ul {
  opacity: 1;
  pointer-events: all;
}
